body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(to right, rgb(40, 94, 128), rgb(13, 58, 94)); */
  background: linear-gradient(to right, rgb(155, 180, 211), rgb(62, 159, 220));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
