body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(to right, rgb(40, 94, 128), rgb(13, 58, 94)); */
  background: linear-gradient(to right, rgb(155, 180, 211), rgb(62, 159, 220));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

#faceRecognition {
  justify-self: end;
  margin-right: 500px;
}

#faceCount {
  margin-right: auto;
}

#output {
  display: grid;
  grid-template-columns: calc(50% + 250px) 1fr;
  grid-gap: 20px;
  align-items: start;
}

@media (max-width: 950px) {
  #navContainer {
    margin-bottom: 35px;
  }

  #output {
    display: flex;
    flex-flow: column nowrap;
  }
  
  #faceRecognition {
    order: 2;
  }

  #faceCount {
    order: 1;
    margin-left: auto;
  }
}